<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li></li>
            <li>
                <a href="/dashboardAdmin">DashBoard</a>
            </li>
            <li>
                <a href="">Verification</a>
            </li>
            <li>
                <a href="">Tasks</a>
            </li>
            <li>
                <a href="">Workshop and Survey</a>
            </li>
            <li>
                <a href="">Information</a>
            </li>
        </ul>
    </nav>

</div>